<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AmcorFlexibles_Staj.Properties.Settings.amcorbilgisayarConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=Moregorkem123_;database=amcorbilgisayar"
            providerName="MySql.Data.MySqlClient" />
        <add name="AmcorFlexibles_Staj.Properties.Settings.bilgisayarlarConnectionString"
            connectionString="server=127.0.0.1;user id=root;database=bilgisayarlar"
            providerName="MySql.Data.MySqlClient" />
        <add name="AmcorFlexibles_Staj.Properties.Settings.compstockCS"
            connectionString="server=127.0.0.1;user id=admin;password=Moregorkem123_;database=compstock"
            providerName="MySql.Data.MySqlClient" />
        <add name="AmcorFlexibles_Staj.Properties.Settings.compstockConnectionString"
            connectionString="server=localhost;user id=root;password=Moregorkem123_;database=compstock"
            providerName="MySql.Data.MySqlClient" />
        <add name="AmcorFlexibles_Staj.Properties.Settings.compstockCSS"
            connectionString="server=localhost;user id=root;database=compstock;password=Moregorkem123_;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>